*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html,
        body{
            height: 100%;
            width: 100%;
        }
        section{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: grey;
            gap: 30px;
            align-items: center;
        }
        h1{
            color: yellow;
            font-size: 32px;
            font-family: monospace;
        }
        button{
            all: unset;
            padding: 16px 20px;
            color: yellow;
            font-size: 18px;
            font-weight: 600;
            font-family: monospace;
            border: 2px solid yellow;
            cursor: pointer;
        }
        button:hover{
            background-color: yellow;
            color: grey;
        }