*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
/* anchor */
/* tooltip create krne ke liye use kr sakte hain */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* gap: 30px; */
}
.box{
    height: 200px;
    width: 200px;
}
.box:hover{
    anchor-name: --some-anchor;
}
.red{
    background-color: rgb(174, 7, 7);
}
.blue{
    background-color: rgb(8, 8, 167);
}
.green{
    background-color: rgb(6, 65, 6);
}

.anchor{
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    position-anchor: --some-anchor;
    height: 50px;
    width: 60px;
    transition: all 0.3s linear;
    mix-blend-mode: difference;
}