:root {
  --gray: #212121;
  --green: #009560;
  --white: #e9e9e9;
  --black: #0c0c0c;
  --lgray: #929292;
}
@font-face {
  font-family: neue;
  src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}
@font-face {
  font-family: hell;
  src: url(./HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2);
}
@font-face {
  font-family: hell-bold;
  src: url(.//HelveticaNowDisplay-Bold_VMHV5twUMR.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--black);
  color: var(--white);
}
.green {
  color: var(--green);
}
.gray {
  color: var(--gray);
}
.lgray {
  color: var(--lgray);
}
.lgreen {
  color: #02e797;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 70px;
  position: sticky;
  top: 0;
  left: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.nav1 {
  display: flex;
  gap: 18px;
  align-items: center;
}
.nav1 img {
  height: 45px;
  cursor: pointer;
}
.nav1 h4 {
  font-family: neue;
  font-size: 17px;
  font-weight: 100;
  line-height: 1.3;
  cursor: pointer;
}
.nav2 {
  display: flex;
  gap: 50px;
  align-items: center;
}
.nav2 img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.nav2 h4 {
  font-family: neue;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
}
.nav2 h4 i {
  font-size: 20px;
}
.nav3 {
  display: none;
  gap: 30px;
  align-items: center;
}
.nav3 img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.nav3 h4 {
  font-family: neue;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
}
.nav3 h4 i {
  font-size: 20px;
}

@media (max-width: 800px) {
  nav {
    padding: 13px 20px;
  }
  .nav1 img {
    height: 30px;
  }
  .nav1 h4 {
    font-size: 12;
  }
  .nav2 {
    display: none;
  }
  .nav3 {
    display: flex;
  }
}

main {
  padding-top: 56px;
}
.section1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 70px;
  font-family: hell;
}
.section1 .left {
  width: 43%;
}
.section1 .left h1 {
  font-size: 48px;
  font-weight: 500;
}
.section1 .left h3 {
  font-size: 28px;
}
.section1 .left h3 .lgray {
  text-decoration: line-through;
}
.section1 .left h3 .gstsize {
  font-size: 22px;
}
.section1 .left h5 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 8px;
}
.section1 .left h6 {
  font-size: 18px;
  font-weight: 500;
}

.section1 .left .tags {
  display: flex;
  align-items: center;
  gap: 6px 6px;
  margin: 30px 0;
  flex-wrap: wrap;
}
.section1 .left .tags h4 {
  background-color: var(--gray);
  padding: 10px 20px;
  border-radius: 4px;
  white-space: nowrap;
}
.section1 .price .lgray {
  font-size: 20px;
  font-weight: 800;
}
.section1 .left .cta {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
.cta button {
  background-color: var(--green);
  padding: 20px 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
}
.cta button:nth-child(2) {
  background-color: #353535;
  color: var(--white);
}

.section1 .right .right-in {
  width: 600px;
  overflow: hidden;
}
.section1 .right .right-in .image {
  width: 100%;
  height: 350px;
}
.section1 .right .right-in .image img {
  width: 100%;
  height: 100%;
}
.section1 .right .right-in .image-bottom {
  width: 100%;
  padding: 40px 20px 20px 20px;
  background-color: var(--gray);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 0 0 10px 10px;
}
.section1 .right .right-in .image-bottom h4 {
  background-color: #151515;
  padding: 10px 15px;
  border-radius: 5px;
  width: 45%;
  font-weight: 400;
}

@media (max-width: 1400px) {
  .section1 .left h1 {
    font-size: 3.5vw;
  }
}
@media (max-width: 800px) {
  main {
    padding-top: 20px;
  }
  .section1 {
    flex-direction: column-reverse;
    padding: 15px 4vw;
  }
  .section1 .left {
    width: 100%;
    margin-top: 30px;
  }
  .section1 .left h1 {
    font-size: 33px;
    font-weight: 500;
  }
  .section1 .right .right-in {
    width: 100%;
  }
  .section1 .right .right-in .image {
    width: 100%;
    height: 50vw;
  }
  .section1 .right .right-in .image-bottom {
    padding: 10px;
    padding-top: 20px;
    gap: 8px;
  }
  .section1 .right .right-in .image-bottom h4 {
    padding: 9px 12px;
    border-radius: 5px;
    font-size: 2.5vw;
    width: 45%;
  }
  .left .price {
    font-size: 5vw;
  }
  .section1 .left .tags h4 {
    padding: 10px 20px;
    border-radius: 4px;
    white-space: nowrap;
  }
  .section1 .left .cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0;
  }
  .cta button {
    width: 50%;
    padding: 15px 0;
  }
}
@media (max-width: 600px) {
  .section1 .left h1 {
    font-size: 5vw;
  }
}

.section2 {
  padding: 100px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section2 div h1 {
  font-family: hell-bold;
  font-size: 150px;
  position: relative;
  background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/mask%20Large_ZB4lGN8hWZ.png);
  background-size: cover;
  background-clip: text;
  color: transparent;
}
.section2 div .bloom {
  position: absolute;
  filter: blur(80px);
}

.section2 h3 {
  font-size: 45px;
  font-family: hell;
  text-transform: capitalize;
  letter-spacing: -1px;
  font-weight: 100;
}

@media (max-width: 900px) {
  .section2 div h1 {
    font-size: 15vw;
    white-space: nowrap;
  }
  .section2 div .bloom {
  position: absolute;
  filter: blur(10vw);
}
  .section2 h3{
    text-align: center;
    font-size: 4vw;
  }
}
