@font-face {
    font-family: neue;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}
@font-face {
    font-family: hell;
    src: url(./HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #111;
    color: #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
}
.nav1{
    display: flex;
    gap: 18px;
    align-items: center;
}
.nav1 img{
    height: 45px;
    cursor: pointer;
}
.nav1 h4{
    font-family: neue;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.3;
    cursor: pointer;
}
.nav2{
    display: flex;
    gap: 50px;
    align-items: center;
}
.nav2 img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.nav2 h4{
    font-family: neue;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
}
.nav2 h4 i{
    font-size: 20px;
}
.nav3{
    display: none;
    gap: 30px;
    align-items: center;
}
.nav3 img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
}
.nav3 h4{
    font-family: neue;
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
}
.nav3 h4 i{
    font-size: 20px;
}

@media (max-width:600px) {
    nav{
        padding: 13px 20px;
    }
    .nav1 img{
        height: 30px;
    }
    .nav1 h4{
        font-size: 12;
    }
    .nav2{
        display: none;
    }
    .nav3{
        display: flex;
    }
}