* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes borderAnimate {
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
}

.box {
  max-width: 300px;
  padding-inline: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  gap: 10px;
  box-shadow: 0 0 60px rgb(255, 0, 183);
  border-radius: 15px;
  background:
    linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgb(255, 0, 183), black) border-box;
  border: 5px solid #ffffff00;
  animation: borderAnimate 5s;
  animation-iteration-count: infinite;
}
.box img {
  width: 100%;
}
