* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* p{
    background-color: aqua;
    font-family: monospace;
    font-size: 18px;
}
.a{
    padding: 24px;
}
#b{
    text-align: center;
} */

/* #main{
    width: 20%;
    height: 40%;
    background-color: crimson;
    padding: 24px;
    margin: 30px;
    color: #fff;
    font-family: monospace;
    font-size: 18px;
} */

/* #main{
    width: 250px;
    height: 250px;
    background-color: #377890;
    margin: 200px 100px 250px 300px;
    margin: 200px 300px;
} */

/* #main{
    background-color: crimson;
    background-image: url(https://images.unsplash.com/photo-1765707885944-99d0f8abe909?q=80&w=2188&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
} */

/* #card1{
    position: absolute;
    width: 100px;
    height: 120px;
    background-color: crimson;
}
#card2{
    position: absolute;
    top: 20%;
    left: 40%;
    width: 110px;
    height: 90px;
    background-color: green;
}
#card3{
    position: absolute;
    width: 130px;
    height: 110px;
    background-color: blue;
} */

#box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: crimson;
  position: relative;
  border-radius: 100%;
  z-index: 1;
}

#left-eye {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 140px;
  left: 120px;
  background-color: yellow;
  border-radius: 100%;
}
#right-eye {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 140px;
  right: 120px;
  background-color: yellow;
  border-radius: 100%;
}
#pupil {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 25px;
  right: 10px;
  background-color: #111;
  border-radius: 100%;
}
#nose {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: yellow;
  width: 80px;
  height: 80px;
}
#mouth {
  width: 300px;
  height: 80px;
  position: absolute;
  bottom: 130px;
  background-color: yellow;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}
.teeth {
  width: 37.5px;
  height: 40px;
  background-color: #fff;
  border: 1px solid black;
}

body {
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?q=80&w=2174&auto=format&fit=crop);
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  transform: scale(1.1); /* edges white na dikhe */
  z-index: -1;
}
