*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}

/* has -> parent selector */
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.box{
    height: 200px;
    width: 200px;
    transition: all 0.3s linear;
}
.red{
    background-color: rgb(174, 7, 7);
}
.blue{
    background-color: rgb(8, 8, 167);
}
.green{
    background-color: rgb(6, 65, 6);
}
body:has(.box:hover) .box{
    transform: scale(0.8);
    opacity: 0.8;
}
body .box.box:hover{
    transform: scale(1.2);
    opacity: 1;
}

/* make some unique projects using Advance CSS concepts */