:root{
    --primary: #F8F4E1;
    --secondary: #381c0a;
    --ternary1: #FEBA17;
    --ternary2: #74512D;
    --red: red;
}
@font-face {
    font-family: normal-aeonik;
    src: url(./fonts/fonnts.com-Aeonik-Regular.ttf);
}

@font-face {
    font-family: bold-aeonik;
    src: url(./fonts/fonnts.com-Aeonik-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: normal-aeonik;
    color: var(--primary);
}
html,
body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--ternary2);
}
section.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    gap: 20px;
}
.elem{
    height: 300px;
    width: 18%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.5s;
    cursor: pointer;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-weight: 100;
    font-size: 24px;
    font-family: bold-aeonik;
}
.elem:active{
    scale: 0.97;
}
.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--secondary);
    padding: 40px;
    display: none;
    position: absolute;
}
.back{
    position: absolute;
    right: 5%;
    background-color: var(--red);
    border-radius: 10px;
    padding: 12px 22px;
    font-size: 24px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}
.back:active{
    scale: 0.97;
}

.todo-list-fullpage h2{
    font-size: 44px;
}

.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    background-color: var(--ternary2);
    height: 100%;
    border-radius: 20px;
}
.todo-list-fullpage .todo-container .allTask{
    width: 65%;
    background-color: var(--ternary2);
    height: 100%;
    border-radius: 20px;
    padding: 30px;
    overflow: auto;
}
.todo-list-fullpage .todo-container .allTask::-webkit-scrollbar {
  display: none;
}
.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}
.todo-container .addTask form #task-input{
    padding: 10px 20px;
    width: 100%;
    font-size: 24px;
    background-color: var(--secondary);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addTask form textarea{
    padding: 10px 20px;
    max-width: 100%;
    min-width: 100%;
    min-height: 300px;
    width: 100%;
    font-size: 24px;
    background-color: var(--secondary);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.todo-container .addTask form button{
    padding: 12px 20px;
    width: 100%;
    font-size: 20px;
    background-color: var(--ternary1);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-weight: 700;
    transition: all ease 0.3s;
    cursor: pointer;
}
.todo-container .addTask form button:active{
    scale: 0.96;
}
.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--secondary);
    padding: 20px 40px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.task h5{
    color: var(--primary);
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.task h5 span{
    background-color: var(--red);
    color: var(--primary);
    font-size: 10px;
    letter-spacing: 0.9px;
    padding: 4px 8px;
    border-radius: 5px;
}
.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity: 0;
}
.task button{
    padding: 15px 30px;
    color: var(--primary);
    background-color: green;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    font-weight: 400;
    cursor: pointer;
}
.task button:active{
    scale: 0.97;
}
.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 8px 10px;
    gap: 20px;
    margin-bottom: 20px;
}
.mark-imp input{
    scale: 2;
}
.mark-imp label{
    font-size: 20px;
    user-select: none;
}

.daily-planner-fullpage h2{
    font-size: 44px;
}
.daily-planner-fullpage .day-planner{
    background-color: var(--ternary2);
    height: 85%;
    margin-top: 40px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: auto;
    justify-content: space-between;
}
.daily-planner-fullpage .day-planner .day-planner-time{
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 14px;
}
.day-planner .day-planner-time p{
    position: absolute;
    top: 12%;
    left: 1%;
    font-size: 18px;
    color: var(--ternary1);
}
.day-planner .day-planner-time input{
    padding: 20px 45px;
    width: 100%;
    background-color: var(--secondary);
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 26px;
    padding-top: 34px;
}



.motivation-fullpage{
    position: relative;
}
.motivation-fullPage-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.motivation-fullpage .motivation-container{
    height: 500px;
    width: 60%;
    border-radius: 50px;
    position: relative;
}
.motivation-fullpage .motivation-container::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--ternary1);
    border-radius: 50px;
    scale: 1.15;
    z-index: 8;
    filter: blur(100px);
}
.motivation-fullpage .motivation-container .motivation-wrapper{
    z-index: 10;
    position: absolute;
    border-radius: 30px;
    width: 100%;
    background-color: var(--ternary1);
    padding: 17px;
    border: 4px solid var(--ternary2);
}
.motivation1{
    background-color: var(--ternary2);
    padding: 12px 22px;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    justify-self: flex-start;
}
.motivation1 h2{
    font-size: 28px;
    font-weight: 500;
    text-align: right;
}
.motivation2{
    padding: 10px;
    margin-top: 20px;
}
.motivation2 h1{
    font-size: 36px;
    font-weight: 600;
    color: var(--secondary);
    text-align: center;
}
.motivation3{
    background-color: var(--ternary2);
    padding: 12px 22px;
    border-radius: 20px;
    margin-top: 30px;
    width: fit-content;
    display: flex;
    justify-self: flex-end;
}
.motivation3 h2{
    font-size: 28px;
    font-weight: 500;
    text-align: right;
}
.motivation-fullpage .motivation-container .motivation-wrapper img{
    position: absolute;
    right: 5%;
    top: 5%;
    opacity: 0.8;
    width: 66px;
}