*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
#parent{
    height: 100%;
    width: 100%;
    background-color: #111;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-auto-flow: dense; */
}
#child1{
    background-color: crimson;
    border: 2px solid #fff;
    height: 100px;
    width: 100px;
    align-self: center;
    justify-self: center;
}
#child2{
    background-color: lightseagreen;
    border: 2px solid #fff;
    height: 200px;
    width: 200px;
    align-self: center;
    justify-self: center;
}
#child3{
    background-color: lightblue;
    border: 2px solid #fff;
}
#child4{
    background-color: goldenrod;
    border: 2px solid #fff;
}