*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;

    /* protect damaging eyes */
    background-color: #111;
    color: #fff;
}

/* Pixels : Relative to DPR not directly screen pixels */
/* Pixels are fixed */
/* h1{
    font-size: 50px; 
}
#box{
    height: 200px;
    width: 200px;
    background-color: crimson;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: lightblue;
} */


/* % : Depending on Parent */
/* #parent{
    height: 700px;
    width: 600px;
    background-color: lightblue;
}
#child{
    height: 50%;
    width: 50%;
    background-color: crimson;
} */


/* vw : Depending on screen width */
/* #box{
    height: 20vw;
    width: 20vw;
    background-color: crimson;
} */


/* vh : Depending on screen height */
/* #box{
    height: 40vh;
    width: 40vh;
    background-color: crimson;
} */

/* vmax: viewport maximum */
/* width > height : widhth as vw */
/* width < height : height as vh */
/* #box{
    height: 30vmax;
    width: 30vmax;
    background-color: aqua;
} */


/* vmax: viewport minimum */
/* width > height : height as vh */
/* width < height : width as vw */
/* #box{
    height: 30vmin;
    width: 30vmin;
    background-color: aqua;
} */

/* em : Relative to font-size of parent */
/* #parent{
    font-family: cursive;
    height: 400px;
    width: 700px;
    background-color: rgb(9, 66, 125);
    font-size: 20px;
}
h1{
    font-size: 3em;
}
h4{
    font-size: 1.5em;
}
p{
    font-size: 1em;
} */


/* rem : Relative to the root element's font size. Best for consistent scaling */
#parent{
    font-family: cursive;
    height: 400px;
    width: 700px;
    background-color: rgb(9, 66, 125);
    font-size: 20px;
}
h1{
    font-size: 3rem;
}
h4{
    font-size: 2rem;
}
p{
    font-size: 1rem;
}   