*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #111;
    color: #fff;
}
#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}

@media (max-width: 700px) and (min-width: 600px){
    #box{
        height: 200px;
        width: 200px;
        background-color: rgb(12, 106, 140);
    }
}
@media (max-width: 500px) {
    #box{
        height: 150px;
        width: 150px;
        background-color: rgb(53, 167, 15);
    }
}