*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #111;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 10px 30px ;
    font-family: monospace;
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.nav1 img{
    height: 50px;
    cursor: pointer;
}
.nav1 h6{
    font-size: 17px;
    width: 50px;
    cursor: pointer;
    font-weight: 100;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.nav2 h4{
    font-size: 17px;
    cursor: pointer;
    font-weight: 100;
}
.nav2 h5{
    font-size: 20px;
    cursor: pointer;
    display: none;
}

/* @media (orientation: landscape) {
    
} */
/* @media (orientation: portrait) {
    
} */
/* @media (resolution) {
    
} */

@media (max-width: 600px) {
    nav{
        padding: 15px;
    }
    .nav1 img{
        height: 35px;
    }
    .nav1 h6{
        font-size: 11px;
    }
    .nav2 h4{
        display: none;
    }
    .nav2 h5{
        display: block;
    }
}