*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;

    /* protect damaging eyes */
    background-color: #111;
    color: #fff;
}

/* Pixels : Relative to DPR not directly screen pixels */
/* Pixels are fixed */
/* h1{
    font-size: 50px; 
}
#box{
    height: 200px;
    width: 200px;
    background-color: crimson;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: lightblue;
} */


/* % : Depending on Parent */
/* #parent{
    height: 700px;
    width: 600px;
    background-color: lightblue;
}
#child{
    height: 50%;
    width: 50%;
    background-color: crimson;
} */


/* vw : Depending on screen width */
/* #box{
    height: 20vw;
    width: 20vw;
    background-color: crimson;
} */


/* vh : Depending on screen height */
/* #box{
    height: 40vh;
    width: 40vh;
    background-color: crimson;
} */

/* vmax: viewport maximum */
/* width > height : widhth as vw */
/* width < height : height as vh */
#box{
    height: 30vmax;
    width: 30vmax;
    background-color: aqua;
}