/* Box-shadow */
/* Text-shadow */
/* conic-gradient */
/* Keyframes */
/* @property */

/* :has() */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Keyframes */
@keyframes changeBackgroundColor {
  from {
    background-color: white;
    border-radius: 0px;
    scale: 1;
  }
  to {
    background-color: red;
    border-radius: 50px;
    scale: 0.5;
  }
}

.box {
  height: 300px;
  width: 300px;
  background-color: whitesmoke;
  aspect-ratio: 1;
  clip-path: shape(
    from 50% 91%,
    line to 90% 50%,
    arc to 50% 9% of 1%,
    arc to 10% 50% of 1%
  );
  /* Box-shadow */
  /* box-shadow:  x \ y \ spread radius \ color; */
  /* box-shadow: inset 0 0 20px rgb(0, 0, 0); */

  /* conic-gradient */
  /* background: conic-gradient(from 90deg, rgb(255, 255, 255), rgb(0, 0, 0), red, yellow); */

  /* Keyframes */
  animation: changeBackgroundColor 0.5s infinite forwards alternate;
}
h1 {
  font-size: 3rem;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  /* Text-shadow */
  text-shadow: 5px 5px 10px green;
}
